################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Users/bin
/Users/obj/Debug
/Users/.vs/Users
